---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/french-works.css' | relative_url }}">

<div id="main" role="main">
  <div class="wrapper">
    <article class="page">
      <div class="page__inner-wrap">
        <header class="page__header">
          <h1 class="page__title">{{ page.title }}</h1>
        </header>
        
        <section class="page__content">
          <div class="sidebar">
            <h2 style="margin-top: 20px;">Navigation</h2>
            <ul>
              <li class="subsection"><a href="/french-works/an-jj-169">Back</a></li>
              <li class="section-heading">Essays:</li>
              <li class="subsection"><a href="/essays/169-medieval-motherhood/">Medieval Motherhood</a></li>
              <li class="subsection"><a href="/essays/169-social-expectations/">Social Expectations</a></li>
              <li class="subsection"><a href="/essays/169-male-female-honor/">Male and Female Honor</a></li>
              <li class="subsection"><a href="/essays/169-money-class/">Money and Class</a></li>
              <li class="subsection"><a href="/essays/169-witchcraft/">Witchcraft</a></li>
            </ul>
          </div>
          {{ content }}
        </section>
      </div>
    </article>
  </div>
</div>