---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/french-works.css' | relative_url }}">

<div id="main" role="main">
  <div class="page-content">
    <!-- Sidebar navigation -->
    <div class="sidebar">
      <h2 style="margin-top: 20px;">Navigation</h2>
      <ul>
        <li class="subsection"><a href="#translation">English/French</a></li>
        <li class="subsection"><a href="#summary">Document Summary</a></li>
        <li class="section-heading">Essays:</li>
        <li class="subsection"><a href="{{ '/essays/169-medieval-motherhood/' | relative_url }}">Medieval Motherhood</a></li>
        <li class="subsection"><a href="{{ '/essays/169-social-expectations/' | relative_url }}">Social Expectations</a></li>
        <li class="subsection"><a href="{{ '/essays/169-male-female-honor/' | relative_url }}">Male and Female Honor</a></li>
        <li class="subsection"><a href="{{ '/essays/169-money-class/' | relative_url }}">Money and Class</a></li>
        <li class="subsection"><a href="{{ '/essays/169-witchcraft/' | relative_url }}">Witchcraft</a></li>
        <li class="subsection"><a href="{{ '/essays/172-errands/' | relative_url }}">Errands</a></li>
        <li class="subsection"><a href="{{ '/essays/172-medieval-weather/' | relative_url }}">Medieval Weather</a></li>
        <li class="subsection"><a href="{{ '/essays/172-mobility-aids-in-the-medieval-era/' | relative_url }}">Mobility Aids in the Medieval Era</a></li>
        <li class="subsection"><a href="{{ '/essays/172-pilgrimage/' | relative_url }}">Pilgrimage</a></li>
      </ul>
    </div>
    <!-- Main content area -->
    <div class="main-content">
      <article class="page">
        <div class="page__inner-wrap">
          <header class="page__header">
            <h1 class="page__title">{{ page.title }}</h1>
          </header>
          
          <section class="page__content">
            {{ content }}
          </section>
        </div>
      </article>
    </div>
  </div>
</div>